/* fichier de configuration spécifique PQR */

/* couleur de base du thème */
//$base-color: #0288d1; //nuance 700, couleur de base du thème
$base-color: #025b80;
/* couleur secondaire */
$base-secondary-color:#167abc;

/* Accentuation */
$thot-accent-color: #ff4081;
