$boundlist-item-height: dynamic(24px);
$boundlist-item-padding: dynamic(0 10px);
$boundlist-item-over-text-color: dynamic(#fff);
$boundlist-item-selected-text-color: dynamic(#fff);
$boundlist-item-over-background-color: dynamic($base-highlight-color);
//$boundlist-item-over-background-color: dynamic(#fff375);
$boundlist-item-selected-background-color: dynamic($base-color);
//$boundlist-item-selected-background-color: dynamic(#a6c9ff);