// couleurs de base
$pqr-color-101: #68b0ff;
$pqr-color-102: #88c1ff;
$pqr-color-103: #343745; // couelur de texte sur fond clair
$pqr-color-104: #484b5b;
$pqr-color-105: #525566;
$pqr-color-106: #75798c;
$pqr-color-107: #9b9eaf;
$pqr-color-108: #c7cbdc;
$pqr-color-109: #dde0ee;
$pqr-color-210: #f2f4fc;
$pqr-color-211: #ffffff;
// couleurs complémentaires
$pqr-color-201: #FF6868;
$pqr-color-202: #ff9d68;
$pqr-color-203: #ffcc68;
$pqr-color-204: #fff668;
$pqr-color-205: #beff68;
$pqr-color-206: #69ff68;
$pqr-color-207: #68ffc2;
$pqr-color-208: #68fbff;
$pqr-color-209: #68c8ff;
$pqr-color-210: #68b0ff;
$pqr-color-211: #6896ff;
$pqr-color-212: #6873ff;
$pqr-color-213: #8368ff;
$pqr-color-214: #a368ff;
$pqr-color-215: #cb68ff;
$pqr-color-216: #fb68ff;
$pqr-color-217: #ff68b8;
$pqr-color-218: #ff6885;


